.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.767);
  position: absolute;
  display: flex;
  justify-content: center;
}

.authentication {
  background-color: white;
  transform: scale(1.5);
  color: rgb(0, 0, 0);
  top: 250px;
  position: absolute;
  padding: 40px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
}

button {
  margin: 10px;
}
