<div class="modal">
  <div class="authentication">
    <form
      *ngIf="showSignIn"
      [formGroup]="authFormSignIn"
      (ngSubmit)="onSubmit()"
    >
      <h1>Login:</h1>
      <label e2etag="hello world" for="username">username:</label>
      <input id="username" type="text" formControlName="username" />
      <label for="password">password:</label>
      <input id="password" type="text" formControlName="password" />
      <button class="button" type="submit">SignIn</button>
    </form>

    <form
      *ngIf="!showSignIn"
      [formGroup]="authFormSignUp"
      (ngSubmit)="onSubmit()"
    >
      <h1>Signup:</h1>
      <label e2etag="hello world" for="username">username:</label>
      <input id="username" type="text" formControlName="username" />
      <label for="password">password:</label>
      <input id="password" type="text" formControlName="password" />
      <button class="button" type="submit">
        {{ showSignIn ? "sign in" : "sign up" }}
      </button>
    </form>

    <button (click)="toggleToSignUp()">
      {{ showSignIn ? "sign up instead" : "back to sign in" }}
    </button>
  </div>
</div>

//
